.common-container {
  white-space: pre-wrap;
  vertical-align: baseline;
  box-sizing: border-box;
  flex-grow: 1;
  color: #f0e68c;
  padding: 60px 40px 100px;
  margin: 0 auto;
  position: relative;

}

.common-container .page-header {


  display: flex;
  margin-bottom: 30px;
}



.common-container .page-header .title {


  flex-shrink: 0;
  line-height: 1.2;
  padding-left: 26px;
  margin-right: 17px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -.025em;
  position: relative;
}

.holdem-term .term-info .title {
  line-height: 1.3;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 30px;
  padding-top: 50px;
  letter-spacing: -.025em;
}


.holdem-term .term-info .list {}




.holdem-term .term-info .item:last-child {
  border-bottom: 0;
}





.holdem-term .term-info .list .side-border-bottom {

  position: absolute;
  bottom: -5px;
  left: -10px;
  height: 60%;
  width: 25px;
  border-color: '#23293c';
  border-left-width: 3px;
  border-bottom-width: 3px;
}

.holdem-term .term-info .list .side-border-top {

  position: absolute;
  top: -5px;
  left: -10px;
  height: 60%;
  width: 25px;
  border-color: '#23293c';
  border-left-width: 3px;
  border-top-width: 3px;
}

.holdem-term .term-info .item {
  position: relative;


}

.holdem-term .term-info .tit {
  line-height: 1.3;
  color: #f9e211;
  font-family: 'Noto Sans KR';
  margin-top: 20px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -.025em;

}

.holdem-term .term-info .con {
  color: #f0e68c;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -.025em;
  margin-top: 20px;

}