.article-container {
  background-color: rgb(51 65 85 / 1);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #f0e68c;
  /* 수정한 부분 */
  border-bottom: 2px solid #f0e68c;
  /* 수정한 부분 */
  margin-bottom: 15px;
}

.article-container .content {
  font-size: 18px;
  padding-bottom: 5px;
  color: #f0e68c;
  /* 수정한 부분 */
}

.article-container .content ul {
  list-style-type: none;
  padding-left: 0;
}

.article-container .content ul li {
  margin-bottom: 20px;
}

.article-container .content ul li .title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
  color: #f0e68c;
  /* 수정한 부분 */
}

.article-container .content ul li .second {
  font-size: 25px;
  color: rgb(179, 175, 123);
  /* 수정한 부분 */
}

.article-container .warning {
  font-size: 14px;
  color: #ff7f50;
  /* 수정한 부분 */
  font-weight: bold;
}

.article-container img {
  height: 600px;
  display: block;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .article-container img {
    height: auto;
  }

  .article-container .article-title {
    font-size: 24px;
  }

  .article-container .content ul li .title {
    font-size: 20px;
  }

  .article-container .content ul li .second {
    font-size: 16px;
  }
}