.rangeGrid {
  display: grid;
  margin: 20px 10px;
  justify-content: center;
  align-content: center;
  font-size: 12px;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

@media only screen and (max-width: 289px) {

  .rangeGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: xx-small;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }
}

.notContainItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: rgba(150, 150, 150, 0.3);
  color: rgba(150, 150, 150, 0.8);
}

.containItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: red;
  color: white;
}

.containItemPocket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: red;
  color: yellow;
}