.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;


}

.sentence {
  color: #f0e68c;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
  border: 1px solid #545558;
  background-color: #23293c;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}